*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border: 1px solid #D9D9D9;
}

input[type=text] {
    width: 30%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: none;
    border-bottom: 2px solid #ccc;
    position:fixed;
    margin-right: auto;
    margin-left: auto;
}

input[type=text]:focus {
    width: 50%;
    outline: none;
    border-bottom: 4px solid;
}

/* */

.sidebar {
   display: none;
   font-family: "Segoe UI", Arial, sans-serif;
   width: 300px;
   position: fixed;
   right: 0;
   opacity: 0.75;
   color: grey;
   background: white;
   padding: 2%;
   height: 100%;
   overflow-y: auto;
   padding-top: 26px;
}

.Severe {
    background-color: crimson !important;
    color: #000 !important;
}


span[severity="Severe"] {
    background-color: crimson !important;
    color: #000 !important;
}

#notstated {
  font-size: 12px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#div > span {
    float: left;
}

.hoveroverlap {
  display: none;
}

section.bottom.sidebar2 {
    width: 300px;
    padding-left: 2%;
    background-color: rgba(255, 255, 255, 0.9);
}

#title {
   padding: 2%;
   font-size: 36px;
}

div.menu {
   padding: 2%;
}

span {
   margin-bottom: 10px;
 }

.cnt {
   margin-left: 15px;
   font-size: 14px;
   line-height: 134%;
}

span.evidsev.sidebar2{
  font-weight: 600;
}

#open {
   right: 0;
   position: fixed;
   margin-right: 20px;
   margin-top: 26px;
}

.bottom {
   width: 260px;
   position: fixed;
   bottom: 0;
   right: 0;
   margin-right: 20px;
   margin-left: 20px;
   text-align: center;
   font-weight: bold;
}
section#div {
    margin-bottom: 100px;
    overflow: scroll;
}

#open:hover,#close:hover,.showSingle:hover,
#showall:hover, #hoveroverlap:hover, section#div > span:hover {
   color: #000 !important;
   background-color: #ccc !important;
}

#hideall:hover {
   color: #ccc !important;
   background-color: #000 !important;
}
