*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}

div.flex-container {
  /*width: 100%;*/
  column-count: 4;
  column-width: auto;
}

form.filters {
  /*height: 10vh;*/
  padding: 20px;
  width: 100%;
}

div#checklist span * {
    display: inline;
}

div#checklist * {
    display: block;
}

input[type=text] {
    width: 30%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: none;
    border-bottom: 2px solid #ccc;
    position:fixed;
    margin-right: auto;
    margin-left: auto;
}

input[type=text]:focus {
    width: 50%;
    outline: none;
    border-bottom: 4px solid;
}
