p {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.inputlist {
    display: flex;
    flex-wrap: wrap;
    background-color: turquoise;
  }

div.inputlist p {
      margin: 4px;
      font-weight: bolder;
  }

div.notice p {
    fill: #bbb;
    margin: 2px;
    padding-top: 2px;
    padding-left: 2px;
}

div.notice {
    position: absolute;
    top: 26px;
    right: 20px;
}

.notice {
    z-index: 1000000;
}

p.title {
    font-weight: bolder;
}
