div.drugselected {
  position: absolute;
  top: 26px;
  left: 20px;
  width: 20vh;
  height: auto;
}

div.drugselected p  {
  font: 300 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  fill: #bbb;
  margin: 2px;
  padding-left: 2px;
  padding-top: 2px;
}

p.druglist:hover {
    text-decoration: underline;
}
